@using QLDC.Models;
@model IEnumerable<QLDC.Models.DeCuong>
@{
    ViewData["Title"] = "Đề cương";
    Layout = "~/Areas/GVien/Views/Shared/_Layout.cshtml";
}
@{
    var giangvien = ViewBag.GV as List<GiangVien>;
    var monhoc = ViewBag.MH as List<MonHoc>;
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-10">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách đề cương chưa phê duyệt</h4>
                </div>
                <div class="float-end ">
                    @Html.ActionLink("Thêm đề cương", "Create", new {}, new { @class = "btn btn-success" })
                </div>
            </div>
            <div class="row">
                <div class="col-6 ms-2">
                    <form class="input-group w-100" asp-action="SearchDcNhap" method="get">
                        <input type="text" class="form-control ms-2" placeholder="Tìm kiếm" name="term" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        <a asp-action="DSDeCuongNhap" asp-route-orderBy="TenDeCuong" asp-route-dsc="@ViewData["TenDeCuong"]" asp-route-page="@ViewData["Page"]">@Html.DisplayNameFor(model => model.TenDeCuong)</a>
                    </th>
                    <th>
                        <a asp-action="DSDeCuongNhap" asp-route-orderBy="MaGiangVien" asp-route-dsc="@ViewData["MaGiangVien"]" asp-route-page="@ViewData["Page"]">@Html.DisplayNameFor(model => model.MaGiangVien)</a>
                    </th>
                    <th>
                        <a asp-action="DSDeCuongNhap" asp-route-orderBy="MaMon" asp-route-dsc="@ViewData["MaMon"]" asp-route-page="@ViewData["Page"]">@Html.DisplayNameFor(model => model.MaMon)</a>
                    </th>
                    <th>
                        <a asp-action="DSDeCuongNhap" asp-route-orderBy="NgayPheDuyet" asp-route-dsc="@ViewData["NgayPheDuyet"]" asp-route-page="@ViewData["Page"]">@Html.DisplayNameFor(model => model.NgayPheDuyet)</a>
                    </th>
                    <th>
                        <a asp-action="DSDeCuongNhap" asp-route-orderBy="TrangThai" asp-route-dsc="@ViewData["TrangThai"]" asp-route-page="@ViewData["Page"]">@Html.DisplayNameFor(model => model.TrangThai)</a>
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.TrangThai == false)
                            {
                                <tr id="row_@item.MaDeCuong">
                                    <td><a asp-route-id="@item.MaDeCuong" asp-action="Details">@item.TenDeCuong</a></td>

                                    @*Tên giảng viên*@
                                    @if (giangvien.FirstOrDefault(x => x.MaGiangVien == item.MaGiangVien) != null)
                                    {
                                        <td>@giangvien.FirstOrDefault(x=>x.MaGiangVien == item.MaGiangVien).TenGiangVien</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    @*Tên môn*@
                                    @if (monhoc.FirstOrDefault(x => x.MaMon == item.MaMon) != null)
                                    {
                                        <td>@monhoc.FirstOrDefault(x=>x.MaMon == item.MaMon).TenMon</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @*Ngày phê duyệt*@
                                    @if (item.TrangThai == true)
                                    {
                                        <td>@item.NgayPheDuyet</td>
                                    }
                                    else
                                    {
                                        <td>Chưa phê duyệt</td>

                                    }
                                    @*Trạng thái*@
                                    <td>
                                        @if (item.TrangThai == true)
                                        {
                                            <text>Đã phê duyệt</text>
                                        }
                                        else
                                        {
                                            <text>Chưa phê duyệt</text>
                                        }
                                    </td>
                                    <td>
                                        @if (item.DataFile != null)
                                        {
                                            @Html.ActionLink("Đọc", "Read", new { id = item.MaDeCuong}, new { @class = "btn  btn-outline-dark" })
                                        }
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDeCuong}, new { @class = "btn btn-primary" })
                                        @if (item.TrangThai == false)
                                        {
                                            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaDeCuong}, new { @class = "btn btn-warning" })
                                        }
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaDeCuong}, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <tr>
                <td colspan="2">
                    @{
                        int pages = ViewBag.Pages; int p = ViewBag.Page;
                    }
                    <form asp-action="DSDeCuongNhap" method="get">
                        <input class="btn btn-primary" type="submit" value="Đến" /> trang <input type="number" max="@pages" min="1" name="page" value="@p" /> trong @pages
                    </form>
                </td>
                <td colspan="3"><strong>Tổng số: @Model.Count()</strong></td>
            </tr>
        </div>
    </div>
</div>
